<div>
  <h3>User info</h3>
  <%= image_tag @user.get_profile_image(100,100)%>
  <table class= "Usertable">
  <%= form_with model: @user do |f| %>
    <tr>
     <h4>名前</h4>
     <%= f.text_field :name %>
    </tr>

    <tr>
      <h4>自己紹介文</h4>
      <%= f.text_area :introduction %>
    </tr>
  <% end %>
  </table>
</div>
